body{
}
h1{
  text-align:center;
  font-family:arial;
  color:white;
}
h3{
  text-align:left;
  font-family:arial;
  color:white;
}
p{
  color:white;
  font-family:arial;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.image{
  border-radius:10%;
}
.projectContainer{
	color:white;
	overflow:auto;
	width:100%;
}
.projectContainerDiv{
	width:30%;
	display: inline-block;
	float:left;
}
